$font-main: 'Lobster', cursive;
$font-secondary: 'Josefin Sans', sans-serif;

body {
    font-family: $font-main;
    margin: 0;
}

.carousel-cell {
    width: 100%;
    height: 50vh;
    min-height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    &__content {
        width: 100vw;
        margin: 0 auto;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__header {
        margin: 0 auto 1vh;
        font-size: 3em;
        color: rgb(255, 255, 255);
        mix-blend-mode: luminosity;
        text-shadow: 1px 1px rgb(0, 0, 0);
    }

    &__paragraph {
        font-family: $font-secondary;
        color: #fff;
        padding: 1vh 0;
        // margin: 1vh auto;
        font-size: 1.5em;

        p {
            margin: 0;
        }
    }
}

.carousel-progress-bar {
    height: 1vh;
    width: 0;
    background: #857777;
}

.carousel-restart {
    position: absolute;
    right: 2vw;
    top: 2vh;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(134, 136, 243, .4);
    border: 1px dotted #fff;
    border-radius: 4px;
}

.flickity-page-dots {
    display: none;
}

.google-map {
    height: 50vh;
    width: 100%;
    background-color: grey;
}