$font-main: 'Lobster', cursive;

body {
    font-family: $font-main;
}

.carousel-cell {
    width: 100%;
    height: 50vh;
    min-height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    display: -webkit-flex;
    align-items: center;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    &__content {
        font-size: 2.5em;
    }
}

.carousel-progress-bar {
    height: 1vh;
    width: 0;
    background: #857777;
}

.carousel-restart {
    position: absolute;
    right: 2vw;
    top: 2vh;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(134, 136, 243, .4);
    border: 1px dotted #fff;
    border-radius: 4px;
}

.flickity-page-dots {
    display: none;
}